{% extends "flashcards/base.html" %}
{% block content %}

<div class="card">
  <h2>Karte hinzufügen (einzeln)</h2>
  <form method="post" enctype="multipart/form-data">{% csrf_token %}
    {{ form.as_p }}
    <p>Akzeptiert: JPG/PNG. Optionales Bild zur Karte hinzufügen.</p>
    <button>Speichern</button>
  </form>
</div>

<div class="card">
    <h2>CSV importieren</h2>
    <p>Erwarte CSV ohne Überschrift, Schema: <code>front,back[,category]</code><br>
      Beispiele:<br>
      <code>frage,antwort,[.Kategorie]</code></p>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ csv_form.as_p }}
    <button>Import starten</button>
  </form>
</div>

{% endblock %}
